/**=== Admin Bar ====**/
.admin-bar.open .themeim-search-box,
.admin-bar .yotta_menu_fixed {
    top: 32px;
}
.admin-bar .yottahead_.site {
    margin-top: 32px;
}
@media (max-width: 782px) {
    .admin-bar .drbt_menu_offcanvas_wrap {
        top: 46px;
    }
    .admin-bar .yotta_menu_fixed .drdt-nav-menu__layout-horizontal.drbt_menu_active {
        top: 0;
    }
}
@media (min-width: 783px) {
    .admin-bar .drbt_menu_offcanvas_wrap {
        top: 32px;
    }
}
/**=== Navbar Menu ===**/
.yottahead_.site {
    overflow-x: hidden;
}
.drdt-nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.drdt-nav-menu ul li {
    display: inline-block;
}
.drdt-nav-menu ul.sub-menu li {
    display: list-item;
}
.yotta_navmenu .menu-item {
    position: relative;
}

.yotta_navmenu .menu-item .drdt-sub-menu-item {
    white-space: nowrap;
    display: inline-block;
}
.drdt-header{
    position: relative;
}
.drdt-nav-menu__layout-horizontal, .offcanvus_menu_overlay, .drdt-header {
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.yotta_is_sticky_header{
    transition: 0.5s;
}
.yotta_menu_fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 9px 35px rgb(0 0 0 / 5%);

}

.yotta_navmenu li:hover > .drdt-has-submenu-container a,
.yotta_navmenu li .sub-menu a.active,
.current-menu-parent.active > .drdt-has-submenu-container > .drdt-menu-item,
.current-menu-item .active {
    color: #ff4d6f;
}


.drdt-has-submenu .sub-menu .menu-item-has-children.drdt-has-submenu {
    display: block;
    width: 100%;
    margin-right: 0;
    position: relative;
    z-index: 1;
}
.drdt-has-submenu .sub-menu .drdt-has-submenu .drdt-sub-menu-item .sub-arrow {
    display: block;
    font-size: 12px;
    transition: all 0.2s;
    margin-left: 25px;
}
.yotta_navmenu .drdt-has-submenu a.drdt-sub-menu-item{
    display: flex ;
    align-items: center;
    justify-content: space-between;
}
.yotta_navmenu > .drdt-has-submenu > .sub-menu > li > .sub-menu {
    margin-top: 0 !important;
}

.drdt-has-submenu .sub-menu .drdt-has-submenu .drdt-sub-menu-item .sub-arrow:before {
    transition: all 0.3s linear;
    content: "\e61a";
    font-family: 'themify';
}

.drdt-has-submenu .sub-menu .drdt-has-submenu:hover .drdt-sub-menu-item .sub-arrow:before,
.drdt-has-submenu .sub-menu .drdt-has-submenu.active .drdt-sub-menu-item .sub-arrow:before {
    content: "\e622";
}

@media (min-width: 992px) {
    .drdt-nav-menu__layout-horizontal .yotta_navmenu .drdt-menu-item .mobile_dropdown_icon  {
        display: none;
    }
}


@media (min-width: 1024.98px){
    .yotta_navmenu .menu-item:hover > .sub-menu {
        opacity: 1 !important;
        visibility: visible;
    }
    .yotta_navmenu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .yotta_navmenu ul li {
        display: inline-block;
    }
    .yotta_navmenu ul.sub-menu li {
        display: list-item;
    }
    .yotta_navmenu .menu-item {
        position: relative;
        padding: 0;
    }
    .yotta_navmenu .menu-item .drdt-sub-menu-item {
        padding: 0;
    }
    .yotta_navmenu .menu-item .sub-menu {
        position: absolute;
        text-align: left;
        opacity: 0;
        left: 0;
        transition: all .3s;
        z-index: 9;
        background-color: #fff;
        box-shadow: 0 10px 20px rgba(17 17 17 / 10%);
        visibility: hidden;
    }
    .yotta_navmenu .menu-item .sub-menu .sub-menu {
        left: 100%;
        top: 0;
    }
    .yotta_navmenu .menu-item .sub-menu:hover > .sub-menu  {
        right: 0;
    }
    .yotta_navmenu .menu-item .drdt-sub-menu-item {
        white-space: nowrap;
        display: inline-block;
    }
    .yotta_navmenu .menu-item:hover > .sub-menu {
        opacity: 1 !important;
    }
    .yotta_mobile_menu_logo_wrapper{
        display: none;
    }
    .drdt-nav-menu{
        display: flex;
    }
    .yotta_navmenu .menu-item .sub-menu {
        position: absolute;
        text-align: left;
        opacity: 0;
        left: 0;
        transition: all .3s;
        z-index: 9;
        background-color: #fff;
        box-shadow: 0 10px 20px rgb(17 17 17 / 10%);
    }
    .yotta_navmenu .menu-item .sub-menu .sub-menu {
        left: 100% !important;
        top: 0;
    }
    .yotta_navmenu .menu-item .sub-menu:hover > .sub-menu  {
        right: 0;
    }
}

/**=== Custom Site Logo ===**/
.yotta_site_logo {
    display: flex;
    justify-content: center;
}
.yotta_site_logo .yotta_custom_site_logo img  {
    display: block;
    transition: all 0.2s linear;
    max-width: 100%;
}
.yotta_menu_fixed .yotta_site_logo .yotta_custom_site_logo img,
.yotta_site_logo .yotta_custom_site_logo img + img {
    display: none;
}
.yotta_menu_fixed .yotta_site_logo .yotta_custom_site_logo img + img {
    display: block;
}
.yotta_navmenu a {
    display: inline-block;
}
/**=== Custom responsive Site navbar ===**/
.drdt-nav-menu__toggle{
    display: none;
}
@media (max-width: 1024px){
    .yotta_mobile_menu_logo_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px 20px 20px;
    }
    .drdt-submenu-icon-arrow .drdt-layout-horizontal .drbt_menu_active {
        padding: 20px 15px;
    }
    .offcanvus_menu_overlay.drbt_overlay_active{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .5;
        z-index: 99 !important;
    }
    .yotta_navmenu a {
        display: block;
    }
     .drdt-nav-menu__toggle{
        display: flex;
        justify-content: flex-end;
    }
    .drdt-nav-menu__layout-horizontal {
        position: fixed;
        right: -300px;
        top: 0;
        height: 100%;
        width: 300px;
        background-color: #fff;
        z-index: 999;
    }
    .drdt-nav-menu__layout-horizontal ul.yotta_navmenu li {
        display: block;
        width: 100%;
    }
    .menu-item.drdt-has-submenu .drdt-has-submenu-container {
        position: relative;
    }
    .menu-item.drdt-has-submenu .drdt-has-submenu-container .sub-arrow {
        position: absolute;
        right: 0;
    }
    .drdt-has-submenu .drdt-has-submenu-container .drdt-menu-child-0 {
        top: 8px;
    }
    .drdt-has-submenu .drdt-has-submenu-container .drdt-menu-child-1,
    .drdt-has-submenu .drdt-has-submenu-container .drdt-menu-child-2 {
        top: auto;
    }
    .drdt-nav-menu__layout-horizontal .menu-item.drdt-has-submenu .drdt-has-submenu-container .sub-arrow{
        right: 15px;
        font-size: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
    .yotta_navmenu{
        padding: 0;
    }
    .sub-menu {
        display: none;
    }
    .yotta_navmenu > li > .sub-mene.active_menu {
        padding: 15px 20px;
        background: #fff;
        box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 3%);
    }
    .drdt-has-submenu .sub-menu .drdt-has-submenu:hover .drdt-sub-menu-item .sub-arrow:before,
    .drdt-has-submenu .sub-menu .drdt-has-submenu .drdt-sub-menu-item .sub-arrow:before {
        content: "\e64b";
    }

}
.drdt-nav-menu__layout-horizontal.drbt_menu_active{
    right: 0;
}

/**=== Custom responsive Site navbar end ===**/


/**===================================== Search Form ============================**/
.drdt-search-form {
    display: flex;
    justify-content: left;
}
.themeim-search-box {
    z-index: 20000;
    position: fixed;
    top: -105%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.themeim-search-box:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(27, 29, 34, 0.95);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    -webkit-transform: scale(0.04), translateY(9999px);
    -ms-transform: scale(0.04), translateY(9999px);
    transform: scale(0.04), translateY(9999px);
    overflow: hidden;
}

.themeim-search-box .drdt-close-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    opacity: 0;
}

.themeim-search-box .drdt-input-group {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    max-width: 800px;
    width: 20%;
    opacity: 0;
    -webkit-transition: all 900ms linear;
    -o-transition: all 900ms linear;
    transition: all 900ms linear;
    -webkit-transition-delay: 0.75s;
    -o-transition-delay: 0.75s;
    transition-delay: 0.75s;
}

.themeim-search-box .drdt-input-group input {
    border: none;
    height: 55px;
    padding: 0 15px;
    font-size: 16px;
    padding-left: 0;
    width: 100%;
    color: #fff;
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 0;
    outline: none;
}

.themeim-search-box .drdt-input-group input.placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

.themeim-search-box .drdt-input-group input:-moz-placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

.themeim-search-box .drdt-input-group input::-moz-placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

.themeim-search-box .drdt-input-group input::-webkit-input-placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

.themeim-search-box .drdt-input-group .drdt-input-group-append {
    margin-left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 4;
}

.themeim-search-box .drdt-input-group .drdt-input-group-append button {
    border: none;
    background: transparent;
    border-radius: 0;
    height: 55px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    padding: 0;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    cursor: pointer;
}

.themeim-search-box .drdt-input-group .drdt-input-group-append button i {
    cursor: pointer;
}

input[type="text"] {
    -webkit-appearance: none;
    outline: none;
}

.open .themeim-search-box {
    top: 0;
}

.open .themeim-search-box:before {
    -webkit-animation: drdt-search-from-menu-animation 0.8s ease-out forwards;
    animation: drdt-search-from-menu-animation 0.8s ease-out forwards;
    height: 100%;
}

.open .themeim-search-box .drdt-close-icon {
    -webkit-transition-delay: 0.75s;
    -o-transition-delay: 0.75s;
    transition-delay: 0.75s;
    opacity: 1;
}

.open .themeim-search-box .drdt-input-group {
    width: 100%;
    opacity: 1;
}


@-webkit-keyframes drdt-search-from-menu-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.04) translateY(300%);
        transform: scale(0.04) translateY(300%);
    }
    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
        -webkit-transition: ease-out;
        -o-transition: ease-out;
        transition: ease-out;
    }
    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(0.02) translateY(0);
        transform: scale(0.02) translateY(0);
    }
    61% {
        -webkit-transform: scale(0.04);
        transform: scale(0.04);
    }
    99.9% {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}

@keyframes drdt-search-from-menu-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.04) translateY(300%);
        transform: scale(0.04) translateY(300%);
    }
    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
        -webkit-transition: ease-out;
        -o-transition: ease-out;
        transition: ease-out;
    }
    40% {
        -webkit-transform: scale(0.04) translateY(0);
        transform: scale(0.04) translateY(0);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(0.02) translateY(0);
        transform: scale(0.02) translateY(0);
    }
    61% {
        -webkit-transform: scale(0.04);
        transform: scale(0.04);
    }
    99.9% {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}

@media (max-width: 1024px) {
    .open .themeim-search-box .drdt-input-group {
        width: 90%;
    }
    .drdt-flyout-close {
        cursor: pointer
    }
}
@media (max-width: 767px) {
    .drbt_menu_active{
        width: 100%;
    }
}

/* Back To Top Style ----------------------------------------------*/
#yotta_back_to_top {
    background-color:#ddd;
    width: 50px;
    height: 50px;
    cursor:pointer;
    border-radius: 50px;
    border: 1px solid #444;
    position:fixed;
    z-index: 9999;
    right: 20px;
    bottom: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
}